input.form-control,
input.form-control:focus,
input.form-control:active,
input.form-control:hover {
    border-radius: 3px;
    border: none;
    box-shadow: none;
    background-color: #eee;
    padding: 10px 12px;
    height: auto;
}

input.ap-input,
input.ap-input:focus,
input.ap-input:active,
input.ap-input:hover {
    border-radius: 3px;
    border: none;
    box-shadow: none;
    background-color: #eee;
    padding: 10px 12px;
    height: auto;
}
