.infowindow {
    padding-bottom: 35px;
    padding-top: 35px;

    h4 {
        color: #444;
    }

    p {
        margin-bottom: 10px;
    }

    a {
        display: inline-block;
    }

    .empty {
        > a {
            color: #444;
        }
    }
}