.ais-pagination {
    border-radius: 4px;
    display: inline-block;
    margin: 10px 0;
    padding-left: 0;

    .ais-pagination__item {
        display: inline;

        &.ais-pagination__item--disabled {
            .ais-pagination__link {
                &,
                &:hover,
                &:focus {
                    color: #ccc;
                    background-color: #fff;
                    border-color: #eee;
                    cursor: none;
                }
            }
        }
        &.ais-pagination__item--active {
            .ais-pagination__link {
                &,
                &:hover,
                &:focus {
                    z-index: 3;
                    color: #fff;
                    background-color: #444;
                    border-color: #444;
                    cursor: default;
                }
            }
        }

        &.ais-pagination__item--first {
            .ais-pagination__link {
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
                margin-left: 0;
            }
        }
        &.ais-pagination__item--last {
            .ais-pagination__link {
                border-bottom-right-radius: 4px;
                border-top-right-radius: 4px;
            }
        }

        &.ais-pagination__item--next {}
        &.ais-pagination__item--previous {}

        .ais-pagination__link {
            background-color: #fff;
            border: 1px solid #eee;
            color: #444;
            float: left; // Collapse white-space
            line-height: 1em;
            margin-left: -1px;
            padding: 10px 14px;
            position: relative;
            text-decoration: none;

            &:hover,
            &:focus {
                z-index: 2;
                color: #444;
                background-color: #eee;
                border-color: #eee;
            }
        }
    }
}