.panel {
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .1);
    border: none !important;
    padding: 15px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: gray;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    h4 {
        color: #444;
    }

    p {
        margin-bottom: 10px;
    }

    a {
        display: inline-block;
    }

    > a {
        color: #444;
    }
}
