html,
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.close {
    display: block;
    width: 50px;
    height: 50px;
    background-color: dodgerblue;
    border-radius: 50%;
    opacity: 1;

    &:after,
    &:before {
        content: '';
        display: block;
        width: 25px;
        height: 2px;

        position: absolute;
        top: 50%;
        left: 50%;

        background-color: #fff;
    }
    &:before {
        transform: translateX(-50%) rotate(45deg);
    }
    &:after {
        transform: translateX(-50%) rotate(-45deg);
    }

    &:hover {
        opacity: 1;
    }
}

#nav--right {
    ul {
        li {
            a {
                display: block;
                padding: 6px 12px;
            }
        }
    }
}

#modal-category,
#modal-list {
    padding: 20px 30px;

    h3 {
        color: #ccc;
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase;
    }

    .search__results {
        > a {
            display: block;
        }
    }
}

#modal-category {
    ul.list-unstyled {
        li {
            &.active {}

            .c-dropdown--target {
                border-bottom: 1px solid #ccc;
                border-top: 1px solid #ccc;
            }
        }
    }
}