<template>
  <div :class="theme">
    <h4><a v-on:click="goToLink(item)">{{ item.name }}</a></h4>
    <p><span v-for="cat in item.subcategories"><a
      :href="'#/plan/'+ cat.id">{{ cat.name }}</a></span></p>
    <p>{{ item.address }}</p>
    <a :href="item.web" v-show="item.web" target="_blank"><i
      class="fa fa-link"></i> {{ item.web }}</a>
    <a :href="'phone:'+item.phone" v-show="item.phone" target="_blank"><i
      class="fa fa-phone"></i> {{ item.phone }}</a>
  </div>
</template>

<script>
  export default {
    name: 'card',
    props: {
      'item': {
        'type': Object,
        'default': () => ({}),
      },
      'theme': {
        'type': String,
        'default': 'panel'
      }
    },
    methods: {
      goToLink(item) {
        window.location.href = "#/marker/" + item.id;
      }
    }
  }
</script>
