<template>
  <div class="home">

    <header>
      <img class="logo" src="../assets/logo-2.svg" alt="">
    </header>
    <section class="search" v-on:mouseleave="searchMode = false" v-on:click="searchMode = true">
      <ais-index app-id="ZB525Q22QT" api-key="9f1d9ca2e6596e24cf5611cc65274f80" index-name="markers"
                 :auto-search="true" :query-parameters="{getRankingInfo:true, aroundLatLngViaIP:true}">
        <div>
          <ais-input class="form-control" :autofocus="true"></ais-input>
        </div>
        <ais-results v-show="searchMode">
          <template slot-scope="{ result }">
            <!-- @see ./Card.vue -->
            <card :item="result"></card>
          </template>
        </ais-results>
      </ais-index>
    </section>
    <nav>
      <ul>
        <li v-for="(cat) in cats">
          <a :href="'#/plan/'+cat.id">
            <span><img :src="'/static/img/icons/128/'+cat.icon+'_128.png'" height="40" alt=""><br>{{cat.name}}</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</template>

<script>

  import axios from 'axios'
  import Vue2Leaflet from 'vue2-leaflet'
  import jQuery from 'jquery'
  import _ from 'lodash'

  export default {
    name: 'home',
    methods: {},
    mounted() {

      axios.get('./static/categories.json').then((response) => {
        this.cats = response.data;
      });

    },
    data() {
      return {
        cats: [],
        searchMode: false,
        searchQuery: {
          aroundLatLngViaIP: true
        }
      };
    }
  }
</script>

<style lang="scss">
  .home {
    background-color: #fff;

    header {
      min-height: 240px;
      height: calc(100vh - 100vw - 30px);
      position: relative;
      background: url(../assets/home-header-bg.jpg) center no-repeat;
      background-size: cover;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        opacity: 0.2;
      }
      .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
    }

    .search {
      top: -56px;
      position: relative;
      margin: 0.6em;

      .ais-results{
        margin-top: 30px;
        overflow: scroll;
        height: 80vh;
      }
    }

    nav {
      position: relative;
      padding-top: 30px;

      ul {
        list-style: none;
        padding: 0;
        overflow-y: scroll;
        top: -56px;
        position: relative;
      }
      li {
        width: 33.33333333%;
        text-align: center;
        background-color: #ffffff !important;
        height: 96px;
        float: left;
      }
      a {
        display: block;
        color: #7B7B7B;
        height: 96px;
        span {
          position: relative;
          display: block;
          overflow: hidden;
        }
      }
    }
  }
</style>
