<template>
  <ais-index app-id="ZB525Q22QT" api-key="9f1d9ca2e6596e24cf5611cc65274f80" index-name="markers"
             :auto-search="false"
             :query-parameters="{getRankingInfo:true, aroundRadius : 1000, facetFilters : facetFilters}"
             :searchStore="searchStore" :query="query">
    <div class="plan">
      <header>
        <a href="/" class="header--home"></a>

        <div class="header--label" style="font-size: 14px">
          <multiselect v-model="queries" style="padding: 0.2em" placeholder="Chercher" label="name" track-by="id"
                       :taggable="true" :multiple="true" tag-placeholder="Recherche par nom" :options="options"
                       @select="setQuery" @tag="setQuery" @remove="removeTag"></multiselect>
        </div>

        <div class="burger" data-target="#nav--right">
          <span></span>
          <span></span>
          <span></span>
        </div>

      </header>
      <nav id="nav--right" class="nav--right">
        <ul>
          <li><a href="http://dewey.be/explications/" target="_blank">A propos</a></li>
          <li><a href="https://maps.dewey.be/marker-edit/login/?next=/marker-edit/maps/marker/" target="_blank">Ajouter un point</a>
          </li>
          <li><a href="https://maps.dewey.be/frame/add" target="_blank">Exporter une map</a></li>
          <li><a href="http://dewey.be/explications" target="_blank">F.A.Q</a></li>
          <li><a href="https://maps.dewey.be/marker-edit" target="_blank">Editer un point</a></li>
        </ul>
      </nav>

      <div class="infowindow" v-show="detail.id">
        <br/>
        <card theme="empty" :item="detail"></card>
        <span class="close"></span>
      </div>

      <div id="section--nav" class="section--nav">
        <ul class="section--nav--nav">
          <li>
            <a href="#modal-category" v-on:click="this.showModal = 'categories'">
                        <span><img src="/static/img/icons/32/flow-cascade_32.png" width="12" alt=""><br>
                            Categories
                        </span>
            </a>
          </li>
          <li>
            <a href="#modal-filter" v-on:click="this.showModal = 'filter'">
                        <span><img src="/static/img/icons/32/search_32.png" width="12" alt=""><br>
                            Search
                        </span>
            </a>
          </li>
          <li>
            <a href="#modal-list" v-on:click="this.showModal = 'list'">
                        <span><img src="/static/img/icons/32/layout5_32.png" width="12" alt=""><br>
                            List
                        </span>
            </a>
          </li>
        </ul>

        <div id="modal-category" class="section--nav--content section--nav--content__no-padding"
             v-show="showModal === 'categories'">

          <ul class="list-unstyled">
            <li v-for="cat in cats" :key="cat.id" class="active">
              <span class="c-dropdown">{{ cat.name }}</span>
              <ul class="c-dropdown--target list-unstyled pl-15">
                <li v-bind:class="isSubcatActive(subcat)" v-for="subcat in cat.subcategories" :key="subcat.id"
                    v-on:click="selectSubcat(subcat)">
                  {{ subcat.name }}
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div id="modal-filter" class="section--nav--content" v-show="showModal === 'filter'">
          <h3>Chercher par nom :</h3>
          <input class="form-control" v-model="query" placeholder="ex: Gasap"/>
          <h3>Chercher par lieu :</h3>
          <places
            v-model="position.name"
            @change="updatePosition"
            placeholder="ex: Schaerbeek"
            :options="{ countries: ['BE'], useDeviceLocation : true }"
            :class-names="{
                          'ap-input': 'form-control'
                        }">
          </places>

          <ais-refinement-list attribute-name="subcategories.name">
            <h3 slot="header">Subcategories</h3>
          </ais-refinement-list>

          <h3>Résultats pour : {{ query }}</h3>
          <ais-results class="search__results">
            <template slot-scope="{ result }">
              <div class="search-result">
                <div v-on:click="setDetail(result)">
                  <card :item="result"></card>
                </div>
              </div>
            </template>
          </ais-results>
          <ais-pagination></ais-pagination>
        </div>

        <div id="modal-list" class="section--nav--content" v-show="showModal === 'list'">
          <h3>Résultats pour : {{ query }}</h3>
          <ais-results class="search__results">
            <template slot-scope="{ result }">
              <a v-on:click="setDetail(result)">
                <card :item="result"></card>
              </a>
            </template>
          </ais-results>
          <ais-pagination></ais-pagination>
        </div>

      </div>

      <v-map ref="map" class="map" :zoom="zoom" :center="center" @l-move="mapUpdate">
        <v-tilelayer :url="url" :attribution="attribution"></v-tilelayer>
        <v-marker :lat-lng="userPosition" :icon="L.icon({
    iconUrl: '/static/img/icons/128/hair-cross_128.png',
    iconSize: [40, 40]
  })">
          <v-popup>Vous êtes ici</v-popup>
        </v-marker>
        <v-marker v-for="item in searchStore.results" :lat-lng="item._geoloc" :key="item.id" :visible="item.visible"
                  :icon="setIcon(item)" @l-click="(e) => setDetail(item)">

        </v-marker>
      </v-map>

      <div class="overlay"></div>
    </div><!--/.Plan-->
  </ais-index>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import '../assets/scss/common/mixin';

  html, body {
    height: 100%;
  }

  header {
    //padding: 1.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header--home {
      color: #000;
      display: block;
      width: 50px;
      height: 50px;
      position: relative;
      z-index: 1000;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        transform-origin: center;
        border-top: 2px solid #000;
        border-left: 2px solid #000;
        width: 10px;
        height: 10px;
      }
    }

    .header--label {
      display: block;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      width: 80%;
      position: relative;
      z-index: 1990;
      max-height: 200px;
    }
    .burger {
      width: 50px;
      height: 50px;
      z-index: 1000;
      position: relative;

      border-radius: 50%;

      span {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;

        width: 25px;
        height: 2px;

        background-color: #000;

        transform: translate(-50%, -50%);

        &:nth-of-type(1) {
          transform: translate(-50%, calc(-50% - 7px));
        }
        &:nth-of-type(2) {

        }
        &:nth-of-type(3) {
          transform: translate(-50%, calc(-50% + 7px));
        }
      }
    }
  }

  nav.nav--right {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    background-color: #fff;
    z-index: 10001;
    padding-top: 50px;
    padding-left: 30px;
    transform: translateX(100%);
    transition: 0.2s all ease-in-out;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &.active {
      transform: translateX(0);
    }
  }

  .pl-15 {
    padding-left: 15px;
  }

  #app {
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .plan {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.2s all ease-in-out;
  }

  .infowindow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 30px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 500;

    .close {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
    }
  }

  /**
  Nav bottom
   */
  .section--nav {
    position: fixed;
    top: calc(100% - 70px);
    left: 0;
    right: 0;

    transition: 0.2s all ease-in-out;

    background-color: #fff;

    z-index: 2000;

    &--nav {
      list-style: none;
      display: flex;
      padding: 0;
      margin: 0;

      li {
        border-left: 1px solid lightgray;
        width: 50%;
      }
      a {
        display: block;
        width: 100%;
        height: 70px;
        text-align: center;
        color: inherit;

        &:hover,
        &:target,
        &:focus {
          text-decoration: none;
          color: inherit;
          outline: none;
        }

        span {
          position: relative;
          display: block;
          top: 50%;
          transform: translateY(-50%);
        }

        &.active {
          border-bottom: 2px solid lightskyblue;
        }
      }
    }

    &--content {
      position: relative;
      background-color: #fff;
      overflow-y: scroll;
      z-index: 2000;
      padding: 30px;
      height: calc(100vh - 70px);

      &__no-padding {
        padding: 30px 0;
      }

      > ul {

        li {

        }

        a {
          display: block;
          padding-top: 5px;
          padding-bottom: 5px;
        }

        span {
          display: block;
          padding-top: 10px;
          padding-bottom: 10px;
          position: relative;
          padding-left: 30px;

          &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 3px;
            background-color: gray;
          }
        }
      }

      .c-dropdown--target {
        display: none;
        padding: 0 30px;

        li {
          position: relative;
          padding: 10px 15px;

          &.active {
            font-weight: bold;
          }

          &:before {
            content: '';
            width: 5px;
            height: 5px;
            background-color: #eee;
            display: block;
            border-radius: 50%;

            position: absolute;
            top: 19px;
            left: 0;
          }
        }
      }
    }

    &__active {
      top: 0;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: none;

    &.active {
      display: block;
    }
  }

  /**
  Map controller + / -
   */
  .leaflet-control-container {
    display: none;
  }
</style>

<script>
  import axios from 'axios'
  import Vue2Leaflet from 'vue2-leaflet'
  import jQuery from 'jquery'
  import _ from 'lodash'
  import algoliasearch from 'algoliasearch'
  import algoliasearchHelper from 'algoliasearch-helper'
  import {createFromAlgoliaCredentials} from 'vue-instantsearch'

  let $ = window.jQuery;
  let console = window.console;
  let L = window.L;

  let client = algoliasearch('ZB525Q22QT', 'c7002faad8683e03f64d90436e9e6d6c');

  let searchStore = createFromAlgoliaCredentials("ZB525Q22QT", "c7002faad8683e03f64d90436e9e6d6c");
  searchStore.indexName = "markers";

  let categoriesStore = createFromAlgoliaCredentials("ZB525Q22QT", "c7002faad8683e03f64d90436e9e6d6c");
  categoriesStore.indexName = "markers";

  export default {
    name: 'plan',
    data() {
      return {
        zoom: 15,
        center: [50.843097, 4.329097],
        url: 'http://a.tile.stamen.com/toner/{z}/{x}/{y}.png',
        attribution: '&copy; <a href="http://maps.dewey.app">Dewey Map | Co-Labs</a>',
        markers: [],
        helper: null,
        currentMarkerID: null,
        initialMarkers: [],
        cats: [],
        points: [],
        showLeft: false,
        currentPoint: null,
        userPosition: {
          lat: 50.843097,
          lng: 4.329097
        },
        mainCats: {},
        selectedCats: [],
        selectedSubcats: [],
        selected: [],
        showInfowindow: false,
        showModal: '',
        detail: {},
        position: {
          name: null,
          data: null
        },
        search: '',
        query: '',
        queries: [],
        searchStore,
        L,
        'facetFilters': [],
      };
    },
    computed: {
      options: function () {
        if (this.cats) {
          let subcats = [];

          this.cats.map((cat) => {
            cat.subcategories.map((subcat) => {
              subcats.push(subcat);
            });
          });

          return subcats;
        }

        return [];
      }
    },
    methods: {
      open(ref) {
        console.log('Opened: ' + ref);
      },
      close(ref) {
        console.log('Closed: ' + ref);
      },

      setQuery(data) {
        if (typeof data.id !== 'undefined') {
          this.selectedSubcats.filter((item) => item.id !== data.id);
          this.selectedSubcats.push(data);
        } else {
          this.query = data;

          const tag = {
            id: null,
            name: data,
            query: true
          };

          this.options.filter((item) => item.id);
          this.queries.filter((item) => item.id);
          this.options.push(tag)
          this.queries.push(tag)
        }
      },

      setIcon(item) {
        let cat = item.subcategories[0].id;
        let mainCatID = this.mainCats[cat];
        return L.icon({
          iconUrl: '/static/img/markers/cat-' + mainCatID + '.png',
          iconSize: [40, 40]
        });
      },

      setDetail(item) {
        console.log('Detail', item);
        $('#section--nav').removeClass('section--nav__active');
        this.detail = item;
        this.center = [item.lat, item.lon];
        $('.infoWindow').show();
      },

      removeTag(tag) {
        if (!tag.id) {
          this.query = '';
        } else {
          this.selectedSubcats.filter((subcat) => subcat.id !== tag.id);
        }
      },

      mapUpdate(data) {
        //this.center = [this.$refs.map.mapObject.getCenter().lat, this.$refs.map.mapObject.getCenter().lng];
      },

      updatePosition(val) {
        this.position.data = val;
        console.log('Position', this.position);
        this.center = [this.position.data.latlng.lat, this.position.data.latlng.lng];
      },

      selectSubcatsFromCat(cat) {

        this.currentMarkerID = null;

        this.selectedCats = cat;

        this.selectedSubcats = [];

        cat.subcategories.map((subcat) => {
          this.selectedSubcats.push(subcat);
        });

        console.log("Selected subcats", this.selectedSubcats);
      },

      selectSubcat(subcat) {

        this.selectedSubcats = [];
        this.selectedSubcats.push(subcat);
        this.query = '';
        this.queries = [subcat];
        this.facetFilters = [];

        $('#section--nav').removeClass('section--nav__active');
      },

      isSubcatActive(subcat) {
        return !!this.selectedSubcats.find((cat) => cat.id === subcat.id);
      },

      getGeolocalisation() {
        return navigator.geolocation.getCurrentPosition((position) => {
          // Get the coordinates of the current position.
          const lat = position.coords.latitude;
          const lng = position.coords.longitude;

          this.addUserPosition(lat, lng);

          return {
            lat, lng
          };
        });
      },
      addUserPosition(lat, lng) {
        if (lat && lng) {
          this.userPosition = {
            lat, lng
          };
        }
      },
      /**
       * Toggle class between active/inactive state
       */
      toggle(event) {
        if (event.target.className === "active") {
          event.target.className = "inactive";
        } else {
          event.target.className = "active";
        }
      }
    },
    components: {
      'v-map': Vue2Leaflet.Map,
      'v-tilelayer': Vue2Leaflet.TileLayer,
      'v-marker': Vue2Leaflet.Marker,
      'v-poly': Vue2Leaflet.Polyline,
      'v-group': Vue2Leaflet.LayerGroup,
      'v-tooltip': Vue2Leaflet.Tooltip,
      'v-popup': Vue2Leaflet.Popup
    },
    mounted() {

      console.log('Plan mounted');

      this.getGeolocalisation();

      this.center = this.userPosition;

      axios.get('./static/main-cats.json').then((response) => {
        this.mainCats = response.data;
      });

      axios.get('./static/categories.json').then((response) => {

        this.cats = response.data;

        /**
         * @url #/marker/marker_id
         */
        if (this.$route.params.marker_id) {

          console.log('Marker', this.$route.params.marker_id);

          this.currentMarkerID = this.$route.params.marker_id;

          this.facetFilters = ['id:' + this.currentMarkerID];

          setTimeout(() => {
            if (typeof searchStore.results[0] !== "undefined") {
              let item = searchStore.results[0];
              this.setDetail(item);
            }
          }, 1000);

        } else if (this.$route.params.subcat_id) {

          const cat_id = parseInt(this.$route.params.cat_id);
          const subcat_id = parseInt(this.$route.params.subcat_id);

          let cat = this.cats.find((item) => item.id === cat_id);
          let subcat = cat.subcategories.find((item) => item.id === subcat_id);

          this.selectSubcat(subcat);

        } else if (this.$route.params.cat_id) {

          const cat_id = parseInt(this.$route.params.cat_id);

          let cat = this.cats.find((item) => item.id === cat_id);
          console.log('Cat', cat);
          this.selectSubcatsFromCat(cat);
        }
      });

      /**
       * Start Menu
       *
       * @todo: refaire en vue
       */
      $('.section--nav--nav').on('click', 'a', function (e) {
        e.preventDefault();

        const $this = $(this);
        const target = $this.attr('href');


        if ($this.hasClass('active')) {
          $('#section--nav').removeClass('section--nav__active'); // add class to container nav (slide)
          $(this).removeClass('active');
        } else {
          $('#section--nav').addClass('section--nav__active');
          $(this).addClass('active');
        }

        // add class active to item
        $('.section--nav--nav a').not($this).removeClass('active');

        //show / hide modal
        $('.section--nav--content').hide();
        $(target).show();
      });
      //end menu

      /**
       * Show menu left
       */
      $('.burger').on('click', function () {
        const $this = $(this);
        const target = $this.data('target');
        const $overlay = $('.overlay');

        $(target).addClass('active');
        $overlay.addClass('active');

        /**
         * Hide menu
         */
        $overlay.on('click', function () {
          $(target).removeClass('active');
          $('.overlay').removeClass('active');
        });
      });

      $('#modal-category').on('click', '.c-dropdown', function (e) {
        e.preventDefault();

        const $this = $(this);
        const $target = $this.parent().find('.c-dropdown--target');

        $('.c-dropdown--target').not($target).slideUp();
        $($target).slideToggle();
      });

      /**
       * Infowindow
       */
      $('.infowindow').on('click', '.close', function () {
        $(this).parent().hide();
      });
    }
  }
</script>
