@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #7B7B7B;
    font-size: 14px;
}

a {
    color: inherit;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}
