<template>
    <div id="app" class="phone-viewport">
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: 'app'
    }
</script>

<style lang="scss">
    @import 'assets/scss/main';
    #app {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }
</style>
